@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixin";

$prefix: "cmp-login";

.#{$prefix} {
    background: linear-gradient($deg-180, 
        var(--cmp-login-background-linear-gradient-color-1) $per-50, 
        var(--cmp-login-background-linear-gradient-color-2) $per-100);
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    height: $vh-100;
    background-size: cover;

    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
        grid-template-columns: 1fr 1fr;
    }
}