<template>
    <div :class="`${PREFIX}`">
        <login-elipse/>
        <login-form/>
        <login-info/>
    </div>
</template>

<script src="./cmp-login.ts" lang="ts"/>
<style src="./cmp-login.scss" lang="scss" scoped/>