<template>
  <div :class="`${PREFIX}`">
    <cmp-header-summary/>
    <cmp-header-navs/>
    <cmp-header-options/>
  </div>
</template>

<script src="./cmp-header.ts" lang="ts"/>
<style src="./cmp-header.scss" lang="scss" scoped/>