@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixin";

$prefix: cmp-header;

$cmp-header-background-color: #fff;

$cmp-header-border-bottom-color: #ededed;
$cmp-header-box-shadow-color: rgba(0,0,0,0.12);

.#{$prefix} {
    background-color: var(--cmp-header-background-color, $cmp-header-background-color);
    box-shadow: 0 0 $pix-8 0 var(--cmp-header-box-shadow-color, $cmp-header-box-shadow-color);
    display: flex;
    flex-direction: row;
    height: $pix-60;
    transition: background-color 0.5s ease;

    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
        height: $pix-80;
        padding: 0 1.5em;
        border-bottom: $pix-1 solid var(--cmp-header-border-bottom-color, $cmp-header-border-bottom-color);
        box-shadow: none;
    }
}