@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixin";

$cmp-prefijo: v-input-login;

$erp-input-line-height: $pix-19;

.#{$cmp-prefijo} {
  .container {
    background-color: var(--v-input-login-container-background-color);
    border: $pix-1 solid var(--v-input-login-container-border-color);
    border-radius: $pix-8;
    display: flex;
    flex-direction: row;
    height: $pix-33;

    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
      height: $pix-65;
    }

    @include breakpoint(calc(#{$resolution-em-lg} + $pix-1), min) {
      height: $pix-96;
    }

    @include breakpoint(calc(#{$resolution-em-xl} + $pix-1), min) {
      height: $pix-101;
    }

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25em;

      @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
        padding: 0.5em;
      }

      .icon {
        width: $pix-20;

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
          width: $pix-35;
        }

        @include breakpoint(calc(#{$resolution-em-lg} + $pix-1), min) {
          width: $pix-46;
        }

        @include breakpoint(calc(#{$resolution-em-xl} + $pix-1), min) {
          width: $pix-52;
        }

        &.action {
          cursor: pointer;
        }
      }
    }

    .input-container {
      position: relative;
      flex: 1;

      .input {
        width: $per-100;
        height: $per-100;
        font-family: var(--font-alt);
        font-style: normal;
        font-weight: $weight-400;
        line-height: $erp-input-line-height;
        color: var(--v-input-login-container-input-container-input-color);
        outline: none;
        box-sizing: border-box;
        background-color: transparent;
        border-style: none;
        padding: 0 $pix-5;
        font-size: $pix-12;

        &.invalid {
          &::placeholder {
            color: var(--v-input-login-container-input-container-input-invalid-placeholder-color);
          }
        }

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
          padding: 0 $pix-5;
          font-size: $pix-20;
        }

        @include breakpoint(calc(#{$resolution-em-lg} + $pix-1), min) {
          padding: 0 $pix-14;
          font-size: $pix-31;
        }

        @include breakpoint(calc(#{$resolution-em-xl} + $pix-1), min) {
          padding: 0 $pix-16;
          font-size: $pix-34;
        }
      }

      .message {
        background-color: #fff;
        border-radius: $pix-5;
        border: $pix-1 solid red;
        position: absolute;
        color: #F92B60;
        font-size: $pix-11;
        font-family: var(--font-alt);
        top: $per-70;
        padding: 0 $pix-2;
        margin-left: $pix-5;
        line-height: 1.2em;

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
          padding: 0;
          font-size: $pix-11;
          border: none;    
        }

        @include breakpoint(calc(#{$resolution-em-lg} + $pix-1), min) {
          padding: 0 $pix-10;
          font-size: $pix-17;          
          border: none;          
        }
      }
    }
  }
}