<template>
  <div :class="{ [`${PREFIJO}`]: true, invalid }">
    <div class="container">
      <div class="icon-container">
        <img :class="`icon`" :src="icon" alt="icon" width="100%" height="100%"/>
      </div>
      <div class="input-container">
        <input
          class="input"
          :class="{ invalid }"
          v-if="type === 'text'"
          type="text"
          @input="(e) => $emit('update:modelValue', e.target.value)"
          :value="modelValue"
          v-bind="$attrs"
        />
        <input
          class="input"
          :class="{ invalid }"
          v-if="type === 'password'"
          type="password"
          @input="(e) => $emit('update:modelValue', e.target.value)"
          :value="modelValue"
          v-bind="$attrs"
          ref="refInputPassword"
        />
        <div class="message" v-if="invalid">{{ messageAlert }}</div>
      </div>
      <div class="icon-container" v-if="invalid">
        <img :class="`icon`" :src="'/resources/icons/warning.svg'" alt="icon" width="100%" height="100%"/>
      </div>
      <div class="icon-container" v-if="type === 'password'">
        <img :class="`icon action`" :src="'/resources/icons/show.svg'" @click="showPassword" alt="icon" width="100%" height="100%"/>
      </div>
    </div>
  </div>
</template>

<script src="./v-input-login.ts" lang="ts" />
<style src="./v-input-login.scss" lang="scss" scoped />
