<template>
  <div :class="`${PREFIX}`">
    <div class="tabs-inner">
      <div class="tabs">
        <ul>
          <slot name="content-tabs"></slot>
        </ul>
      </div>
    </div>
    <div class="container">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script src="./cmp-sub-navs.ts" lang="ts"/>
<style src="./cmp-sub-navs.scss" lang="scss"/>