@import "../../../assets/styles/animations";
@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixin";

$prefix: cmp-sub-navs;

$cmp-sub-navs-background-color: #fff;
$cmp-sub-navs-border-color: #e5e5e5;

$cmp-sub-navs-tabs-inner-tabs-ul-li-a-color: "#cecece";
$cmp-sub-navs-tabs-inner-tabs-ul-li-a-hover-background: #f7f7f7;
$cmp-sub-navs-tabs-inner-tabs-ul-li-a-hover-color: #b1b3c4;

$cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-background: #fff;
$cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-border-color: #e5e5e5;
$cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-color: #41b883;

$cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-column-heading-color: #283252;
$cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-ul-li-color: #b1b3c4;
$cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-ul-li-hover-color: #41b883;
$cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-border-color: #e5e5e5;

.#{$prefix} {
    background-color: var(--cmp-sub-navs-background-color, $cmp-sub-navs-background-color);
    border: $pix-1 solid var(--cmp-sub-navs-border-color, $cmp-sub-navs-border-color);
    border-radius: $pix-6;
    box-shadow: -1px $pix-3 $pix-10 0 rgba(0, 0, 0, 0.06);
    position: fixed;
    left: 0;
    max-width: $pix-800;
    margin: 0 auto;
    opacity: 1;
    right: 0;
    top: $pix-65;
    width: $per-100;
    transition: all 0.5s ease;

    &.active {
        height: $pix-320;
        opacity: 1;
        transform: translateY(0);
    }

    .tabs-inner {
        align-items: center;
        display: flex;
        justify-content: center;

        .tabs {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0 auto $pix-10 auto;
            max-width: $pix-410;

            ul {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                li {
                    display: block;
                    flex-direction: column;
                    flex: 1;
                    padding: 0.5em 0.25em;

                    a {
                        display: flex;
                        justify-content: center;
                        border: $pix-1 solid transparent;
                        border-radius: $pix-8;
                        color: var(--cmp-sub-navs-tabs-inner-tabs-ul-li-a-color, $cmp-sub-navs-tabs-inner-tabs-ul-li-a-color);
                        font-family: var(--font-alt, $font-alt);
                        font-size: 0.65em;
                        margin: 0 $pix-10;
                        min-width: $pix-200;
                        letter-spacing: $pix-1;
                        padding: $pix-10 $pix-16;
                        text-transform: uppercase;
                        transition: all 0.5s ease;

                        &:hover {
                            background: var(--cmp-sub-navs-tabs-inner-tabs-ul-li-a-hover-background, $cmp-sub-navs-tabs-inner-tabs-ul-li-a-hover-background);
                            color: var(--cmp-sub-navs-tabs-inner-tabs-ul-li-a-hover-color, $cmp-sub-navs-tabs-inner-tabs-ul-li-a-hover-color);
                        }

                        &.active {
                            background: var(--cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-background, $cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-background);
                            border-color: var(--cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-border-color, $cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-border-color);
                            box-shadow: -1px $pix-3 $pix-10 0 rgba(0, 0, 0, 0.06);
                            color: var(--cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-color, $cmp-sub-navs-tabs-inner-tabs-ul-li-a-active-color);
                        }
                    }
                }

                @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                    flex-direction: row;
                }
            }
        }
    }

    .container {
        margin: 0 auto;
        position: relative;
        width: auto;

        .tab-content {
            animation: fadeInLeft;
            animation-duration: 0.5s;
            padding: 0 $pix-20;
            display: none;

            &.active {
                display: block;
            }

            .tab-content-inner {
                align-items: stretch;
                display: flex;
                min-height: $pix-220;

                .center {
                    flex-grow: 2;
                    margin: 0 auto;
                    max-height: $pix-250;
                    max-width: $pix-940;
                    padding: $pix-20 $pix-15;
                    overflow-y: auto;

                    .columns {
                        display: flex;
                        flex-direction: column;
                        height: $per-100;

                        .column {
                            padding: 0.75em;
                            width: $per-100;

                            .column-heading {
                                color: var(--cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-column-heading-color, $cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-column-heading-color);
                                font-family: var(--font-alt, $font-alt);
                                font-size: 0.7em;
                                font-weight: $weight-600;
                                text-transform: uppercase;
                                margin-bottom: $pix-12;
                            }

                            ul {
                                list-style: none;

                                li {
                                    color: var(--cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-ul-li-color, $cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-ul-li-color);
                                    margin-bottom: $pix-6;
                                    transition: all 0.5s ease;

                                    a {
                                        align-items: center;
                                        display: flex;

                                        span {
                                            font-size: 0.9em;
                                            font-family: var(--font, $font);
                                            padding: 0 1em
                                        }
                                    }

                                    &:hover {
                                        color: var(--cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-ul-li-hover-color, $cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-ul-li-hover-color);
                                    }
                                }
                            }

                            @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                                width: $per-25;

                                &:not(:last-child) {
                                    border-right: $pix-1 solid var(--cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-border-color, $cmp-sub-navs-container-tab-content-tab-content-inner-center-columns-column-border-color);
                                }
                            }
                        }

                        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                            flex-direction: row;
                        }
                    }

                    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                        max-height: none;
                    }
                }
            }
        }

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            max-width: $pix-960;
        }
    }

    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
        top: $pix-85;
    }
}