@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixin";

$prefix: cmp-header-option-avatar;

$cmp-header-option-avatar-heading-background: #fafafa;

$cmp-header-option-avatar-heading-avatar-background-color: #ededed;
$cmp-header-option-avatar-heading-avatar-background-color-span-color: #999;

$cmp-header-option-avatar-heading-meta-span1-color: #283252;
$cmp-header-option-avatar-heading-meta-span2-color: #a2a5b9;

$cmp-header-option-avatar-item-list-dropdown-item-color: #a2a5b9;
$cmp-header-option-avatar-item-list-dropdown-item-hover-background: whitesmoke;
$cmp-header-option-avatar-item-list-dropdown-item-icon-hover-color: #41b883;
$cmp-header-option-avatar-item-list-dropdown-item-meta-span1-color: #283252;
$cmp-header-option-avatar-item-list-dropdown-item-meta-span2-color: #a2a5b9;

$cmp-header-option-avatar-item-list-dropdown-divider-background-color: #ededed;

.#{$prefix} {
    .heading {
        align-items: center;
        background: var(--cmp-header-option-avatar-heading-background, $cmp-header-option-avatar-heading-background);
        display: flex;
        padding: $pix-20 $pix-16;
        margin-bottom: $pix-12;

        .avatar {
            align-items: center;
            background-color: var(--cmp-header-option-avatar-heading-avatar-background-color, $cmp-header-option-avatar-heading-avatar-background-color);
            border-radius: $per-50;
            display: flex;
            justify-content: center;
            height: $pix-68;
            width: $pix-68;

            span {
                color: var(--cmp-header-option-avatar-heading-avatar-background-color-span-color, $cmp-header-option-avatar-heading-avatar-background-color-span-color);
                display: block;
                font-size: 1.4em;
                font-weight: $weight-500;
            }
        }

        .meta {
            display: flex;
            flex-direction: column;
            font-family: var(--font, $font);
            margin-left: $pix-12;

            span:first-child {
                color: var(--cmp-header-option-avatar-heading-meta-span1-color, $cmp-header-option-avatar-heading-meta-span1-color);
                font-size: 1.1em;
                font-weight: $weight-500;
                line-height: 1.2;        
            }

            span:nth-child(2) {
                color: var(--cmp-header-option-avatar-heading-meta-span2-color, $cmp-header-option-avatar-heading-meta-span2-color);
                font-size: 0.7em;
                text-transform: uppercase;
            }
        }
    }

    .item-list {
        .dropdown-item {
            align-items: center;
            color: var(--cmp-header-option-avatar-item-list-dropdown-item-color, $cmp-header-option-avatar-item-list-dropdown-item-color);
            display: flex;
            font-family: var(--font, $font);
            padding: 0.5em 1em;

            .icon {
                align-items: center;
                display: flex;
                justify-content: center;
                height: $pix-28;
                width: $pix-28;

                i {
                    font-size: $pix-16;
                }
            }

            .meta {
                display: flex;
                flex-direction: column;
                margin-left: $pix-10;

                span:first-child {
                    color: var(--cmp-header-option-avatar-item-list-dropdown-item-meta-span1-color, $cmp-header-option-avatar-item-list-dropdown-item-meta-span1-color);
                    font-family: var(--font-alt, $font-alt);
                    font-size: 0.9em;
                    font-weight: $weight-600;
                }

                span:nth-child(2) {
                    color: var(--cmp-header-option-avatar-item-list-dropdown-item-meta-span2-color, $cmp-header-option-avatar-item-list-dropdown-item-meta-span2-color);
                    font-family: var(--font-alt, $font-alt);
                    font-size: 0.9em;
                }
            }

            &:hover {
                background: var(--cmp-header-option-avatar-item-list-dropdown-item-hover-background, $cmp-header-option-avatar-item-list-dropdown-item-hover-background);
                .icon {   
                    i {
                        color: var(--cmp-header-option-avatar-item-list-dropdown-item-icon-hover-color, $cmp-header-option-avatar-item-list-dropdown-item-icon-hover-color);
                    }
                }
            }
        }

        .dropdown-divider {
            background-color: var(--cmp-header-option-avatar-item-list-dropdown-divider-background-color, $cmp-header-option-avatar-item-list-dropdown-divider-background-color);
            border: none;
            display: block;
            height: $pix-1;
            margin: 0.5em 0;
        }
    }
}