<template>
  <div :class="`${PREFIX}`">
    <cmp-option-dropdown :fill="true">
      <template #text>
        <span>?</span>
      </template>
      <template #header>
        <div class="heading">
          <div class="avatar">
            <span>?</span>
          </div>
          <div class="meta">
            <span>Erik Kovalsky</span>
            <span>PRODUCT MANAGER</span>
          </div>
        </div>
      </template>
      <template #body>
        <div class="item-list">
          <a href="#" class="dropdown-item">
            <div class="icon">
              <i aria-hidden="true" class="lnil lnil-user-alt"></i>
            </div>
            <div class="meta">
              <span>Profile</span>
              <span>View your profile</span>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="icon">
              <i aria-hidden="true" class="lnil lnil-briefcase"></i>
            </div>
            <div class="meta">
              <span>Projects</span>
              <span>All my projects</span>
            </div>
          </a>
          <a href="#" class="dropdown-item">
            <div class="icon">
              <i aria-hidden="true" class="lnil lnil-users-alt"></i>
            </div>
            <div class="meta">
              <span>Team</span>
              <span>Manage your team</span>
            </div>
          </a>
          <hr class="dropdown-divider">    
          <a href="#" class="dropdown-item">
            <div class="icon">
              <i aria-hidden="true" class="lnil lnil-cog"></i>
            </div>
            <div class="meta">
              <span>Settings</span>
              <span>Account settings</span>
            </div>
          </a>             
        </div>
      </template>
      <template #footer>
      </template>
    </cmp-option-dropdown>
  </div>
</template>

<script src="./cmp-header-option-avatar.ts" lang="ts"/>
<style src="./cmp-header-option-avatar.scss" lang="scss" scoped/>