<template>
  <div :class="`${PREFIX}`">
    <div :class="`${PREFIX}-menu-icon`" @click="openCloseMenu">
      <div class="container-line" :class="{ 'cross-icon': isMenuOpen }">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <div :class="`${PREFIX}-logo-summary`">
      <cmp-header-logo />
      <div class="separator">
        <span></span>
      </div>
      <div class="summary">
        <span class="title">{{ translate("cmp-header.summary.title") }}</span>
        <div class="breadcrumb">
          <div class="icon">
            <svg width="14" height="14" viewBox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.3904 12.9582H3.51938C3.35684 12.9636 3.19881 12.9043 3.07995 12.7933C2.96109 12.6823 2.89111 12.5287 2.88538 12.3662V7.04121H0.984375L7.52838 1.48621C7.64817 1.38658 7.79906 1.33203 7.95487 1.33203C8.11069 1.33203 8.26158 1.38658 8.38138 1.48621L14.9254 7.04121H13.0254V12.3662C13.0196 12.5289 12.9495 12.6827 12.8304 12.7937C12.7114 12.9047 12.5531 12.9639 12.3904 12.9582ZM8.58438 11.7742H11.7524V5.95021L7.95237 2.72321L4.15238 5.95021V11.7742H7.32137V8.22421H8.58438V11.7742Z"
                fill="#A4A4A4" />
            </svg>
          </div>
          <span>-Componentes-componentes1</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./cmp-header-summary.ts" lang="ts"/>
<style src="./cmp-header-summary.scss" lang="scss" scoped/>