@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

$prefix: cmp-header-summary;

$cmp-header-summary-menu-icon-line-border-color: #999;

$cmp-header-summary-logo-summary-separator-border-left-color: #e3e3e3;

$cmp-header-summary-logo-summary-summary-title-color: #283253;
$cmp-header-summary-logo-summary-summary-breadcrumb-span-color: #6f6f6f;

.#{$prefix} {
    .#{$prefix}-menu-icon {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: $per-100;
        justify-content: center;
        width: $pix-60;

        .container-line {
            cursor: pointer;

            .line {
                border-bottom: $pix-1 solid var(--cmp-header-summary-menu-icon-line-border-color, $cmp-header-summary-menu-icon-line-border-color);
                display: block;
                width: $pix-16;
                margin: $pix-4 0;
                transition-duration: 100ms;
                transition-property: opacity, transform;
                transition-timing-function: ease;
            }

            &.cross-icon {
                >span:nth-child(1) {
                    transform: translateY(4px) rotate(45deg);
                }

                >span:nth-child(2) {
                    opacity: 0;
                }

                >span:nth-child(3) {
                    transform: translateY(-6px) rotate(-45deg);
                }
            }
        }

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            display: none;
            width: 4.5em;
        }
    }

    .#{$prefix}-logo-summary { 
        display: none;

        .separator {
            align-items: center;
            display: flex;
            height: $per-100;
            padding: 0 1.25em 0 0.5em;

            span {
                display: block;
                height: $pix-38;
                border-left: $pix-1 solid var(--cmp-header-summary-logo-summary-separator-border-left-color, $cmp-header-summary-logo-summary-separator-border-left-color);
            }
        }

        .summary {
            height: $per-100;
            padding: 1em 0;

            .title {
                display: block;
                color: var(--cmp-header-summary-logo-summary-summary-title-color, $cmp-header-summary-logo-summary-summary-title-color);
                font-family: var(--font, $font);
                font-size: 1.25rem;
                font-weight: $weight-600;
                margin-bottom: $pix-5;
            }

            .breadcrumb {
                align-items: center;
                display: flex;
                flex-direction: row;

                .icon {
                    background-image: var(--url-icon);
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: $pix-14;
                }

                span {
                    color: var(--cmp-header-summary-logo-summary-summary-breadcrumb-span-color, $cmp-header-summary-logo-summary-summary-breadcrumb-span-color);
                    font-family: var(--font, $font);
                    font-size: $pix-10;
                    line-height: 1;
                }
            }
        }

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 15em;
            height: $per-100;
        }
    }
}