@import "../../../../assets/styles/variables";

$prefix: login-elipse;

.#{$prefix} {
    position: absolute;
    height: $vh-100;
    width: $vw-100;
    background: var(--cmp-login-login-elipse-background);
    background-attachment: fixed;
    clip-path: ellipse(90% 50% at 70% 100%);    
}

@media (min-width: calc(#{$resolution-em-md} + $pix-1)) {
    .#{$prefix} {
        clip-path: ellipse(50vw 90vh at $per-90 $per-80);
    }
}