<template>
    <div :class="`${PREFIX}`" ref="cmpOptionDropdown">
        <div class="option-base" @click="select">
            <div class="content">
                <div class="shadow" :class="{ fill }">
                    <div class="opt" :class="{ 'select': isSelect }">
                        <slot name="icon"></slot>
                        <slot name="text"></slot>
                        <span class="has-notification" v-if="hasNotification"></span>
                    </div>
                </div>
            </div>
        </div>
        <cmp-dropdown-menu v-if="isSelect">
            <template #header>
                <slot name="header"></slot>
            </template>
            <template #body>
                <slot name="body" :close="close"></slot>
            </template>
            <template #footer>
                <slot name="footer"></slot>
            </template>
        </cmp-dropdown-menu>
    </div>
</template>

<script src="./cmp-option-dropdown.ts" lang="ts"/>
<style src="./cmp-option-dropdown.scss" lang="scss"/>