@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixin";
@import "../../../assets/styles/animations";

$prefix: cmp-option-dropdown;

$radius-rounded: 9999px;

$cmp-option-option-base-content-shadow-select-background-color: #ededed;
$cmp-option-option-base-content-shadow-opt-color: #a2a5b9;
$cmp-option-option-base-content-shadow-opt-hover-color: rgba(0, 0, 0, 0.06);
$cmp-option-option-base-content-shadow-opt-select-background-color: #f2f2f2;
$cmp-option-option-base-content-shadow-opt-select-hover-color: #fff;

$cmp-option-option-base-new-indicator-background: #e62965;

.#{$prefix} {
    position: relative;
    .option-base {        
        .content {
            cursor: pointer;
            padding: 0 0.5em;            

            .shadow {
                align-items: center;
                display: flex;
                border-radius: $per-50;
                height: $pix-40;
                justify-content: center;
                width: $pix-40;

                @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                    height: $pix-50;
                    width: $pix-50;
                }

                &.fill {
                    background-color: var(--cmp-option-option-base-content-shadow-select-background-color, $cmp-option-option-base-content-shadow-select-background-color);

                    .opt {
                        &:hover {
                            box-shadow: none;
                        }

                        &.select {
                            background-color: var(--cmp-option-option-base-content-shadow-select-background-color, $cmp-option-option-base-content-shadow-select-background-color);

                            &:hover {
                                background-color: var(--cmp-option-option-base-content-shadow-select-background-color, $cmp-option-option-base-content-shadow-select-background-color);
                            }
                        }
                    }
                }

                .opt {
                    align-items: center;
                    border-radius: $per-50;
                    color: var(--cmp-option-option-base-content-shadow-opt-color, $cmp-option-option-base-content-shadow-opt-color);
                    display: flex;
                    height: $pix-30;
                    justify-content: center;
                    font-size: 1.25em;
                    font-weight: bold;
                    position: relative;
                    transition-duration: 0.25s;
                    transition-property: background-color, box-shadow;
                    transition-timing-function: ease;
                    width: $pix-30;

                    &.select {
                        background-color: var(--cmp-option-option-base-content-shadow-opt-select-background-color, $cmp-option-option-base-content-shadow-opt-select-background-color);

                        &:hover {
                            background-color: var(--cmp-option-option-base-content-shadow-opt-select-hover-color, $cmp-option-option-base-content-shadow-opt-select-hover-color);
                        }
                    }

                    &:hover {
                        box-shadow: -1px $pix-3 $pix-10 0 var(--cmp-option-option-base-content-shadow-opt-hover-color, $cmp-option-option-base-content-shadow-opt-hover-color);
                    }

                    .has-notification {
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                        width: $pix-10;
                        height: $pix-10;
                        border-radius: $per-50;
                        background: var(--cmp-option-option-base-new-indicator-background, $cmp-option-option-base-new-indicator-background);
                        animation: pulsate 1.5s ease-out;
                        animation-iteration-count: infinite;
                        opacity: 0;
                    }

                    svg {
                        width: $pix-20;
                        height: $pix-20;
                    }

                    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                        height: $pix-40;
                        width: $pix-40;
                    }
                }
            }

            @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                padding: 0;
            }
        }
    }
}