@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

$prefix: login-info;

.#{$prefix} {
    position: relative;
    display: flex;
    align-items: center;

    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
        height: $vh-100;
    }

    .container-info {
        font-family: var(--font-base);
        width: $per-100;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1em;
        padding: 0 $per-15;

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            row-gap: 1em;
            padding: 0 $per-5;
        }

        .login-info-title {
            color: #fff;
            font-size: $pix-30;
            font-weight: $weight-900;

            @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                color: var(--cmp-login-login-info-container-info-login-info-title-color);
                font-size: 5vw;
            }
        }

        .login-info-subtitle {
            color: var(--cmp-login-login-info-container-info-login-info-subtitle-color);
            font-size: $pix-11;
            font-weight: $weight-500;

            @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                font-size: 2.5vw;
            }
        }

        .login-info-title,
        .login-info-subtitle {
            text-align: center;
        }

        .login-info-grid {
            width: $per-100;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5em;

            @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                gap: 1.5em;
            }

            .item {
                display: grid;
                grid-template-columns: auto auto;
                gap: 0.2em;

                @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                    gap: 0.5em;
                }

                .icon {
                    height: $pix-12;
                    width: $pix-12;

                    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                        height: 2.5vw;
                        width: 2vw;
                    }
                }

                .label {
                    color: var(--cmp-login-login-info-container-info-login-info-grid-label-color);
                    font-size: $pix-10;

                    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                        font-size: 1.5vw;
                    }
                }
            }
        }

        .login-info-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0;
            animation: show 2s ease 1s forwards;

            .imagen {
                @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                    height: 10vw;
                }
            }

            .link-smart {
                color: var(--cmp-login-login-info-container-info-login-info-logo-link-smart-label-color);
                font-size: $pix-20;

                @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                    font-size: 3.5vw;
                }

                .negrita {
                    font-weight: $weight-600;
                }
            }
        }
    }

    .container-robot {
        position: fixed;
        bottom: 0;
        right: 0;
        width: $per-37;
        height: $pix-250;

        .logo-robot {
            width: $per-100;
            height: $per-100;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            animation: hide 2s ease 1s forwards;
        }

        @keyframes hide {
            from {
                opacity: 1;
                width: $per-100;
                height: $per-100;
                transform:
                    rotate(0deg);
            }

            to {
                opacity: 0;
                width: $per-14;
                height: $per-60;
                transform: 
                    rotate(15deg);
            }
        }

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            width: $pix-320;
            height: $pix-320;
            @keyframes hide {
                from {
                    opacity: 1; 
                    width: $per-100; 
                    height: $per-100; 
                    transform: 
                        rotate(0deg);
                }
                to {
                    opacity: 0; 
                    width: $per-14; 
                    height: $per-40; 
                    transform: 
                        rotate(15deg);
                }
            }
        }

        @include breakpoint(calc(#{$resolution-em-lg} + $pix-1), min) {
            width: $pix-400;
            height: $pix-350;
            @keyframes hide {
                from {
                    opacity: 1; 
                    width: $per-100; 
                    height: $per-100; 
                    transform: 
                        rotate(0deg);
                }
                to {
                    opacity: 0; 
                    width: $per-14; 
                    height: $per-40; 
                    transform: 
                        rotate(15deg);
                }
            }
        }

        @include breakpoint(calc(#{$resolution-em-xl} + $pix-1), min) {
            width: $pix-538;
            height: $pix-463;
            @keyframes hide {
                from {
                    opacity: 1; 
                    width: $per-100; 
                    height: $per-100; 
                    transform: 
                        rotate(0deg);
                }
                to {
                    opacity: 0; 
                    width: $per-14; 
                    height: $per-40; 
                    transform: 
                        rotate(15deg);
                }
            }
        }        
    }
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY($pix-20);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}