<template>
  <div :class="`${PREFIX}`">
    <div class="container-info">
      <div class="login-info-title">
        <span>{{ translate("cmp-login.login-info.title") }}</span>
      </div>
      <div class="login-info-subtitle">
        <span>{{ translate("cmp-login.login-info.subtitle") }} </span>
      </div>
      <div class="login-info-grid">
        <div class="item">
          <img
            class="icon"
            :src="`../../../../resources/icons/check-circulo-pintado.svg`"
            alt="icon"
            width="100%"
            height="100%"
          />
          <span class="label">{{
            translate("cmp-login.login-info.list.li-1")
          }}</span>
        </div>
        <div class="item">
          <img
            class="icon"
            :src="'../../../../resources/icons/check-circulo-pintado.svg'"
            alt="icon"
            width="100%"
            height="100%"
          />
          <span class="label">{{
            translate("cmp-login.login-info.list.li-2")
          }}</span>
        </div>
        <div class="item">
          <img
            class="icon"
            :src="'../../../../resources/icons/check-circulo-pintado.svg'"
            alt="icon"
            width="100%"
            height="100%"
          />
          <span class="label">{{
            translate("cmp-login.login-info.list.li-3")
          }}</span>
        </div>
        <div class="item">
          <img
            class="icon"
            :src="'../../../../resources/icons/check-circulo-pintado.svg'"
            alt="icon"
            width="100%"
            height="100%"
          />
          <span class="label">{{
            translate("cmp-login.login-info.list.li-4")
          }}</span>
        </div>
      </div>
      <div class="login-info-logo">
        <div class="logo-smart">
          <img
            class="imagen"
            :src="'../../../../resources/icons/logo-smart-robot.svg'"
            alt="logo-smart-robot"
            width="100%"
            height="100%"
          />
        </div>
        <div class="link-smart">
          <span>www.<span class="negrita">smartclic</span>.pe</span>
        </div>
      </div>
    </div>
    <div class="container-robot">
      <div class="logo-robot">
        <span></span>
        <img
          class="imagen"
          :src="'../../../../resources/images/logo-robot.svg'"
          alt="logo-robot"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>
</template>

<script src="./login-info.ts" lang="ts" />
<style src="./login-info.scss" lang="scss" scoped />
