<template>
  <div :class="`${PREFIX}`">
    <div class="title">
      Bienvenido {{ user.username }} al home! Que deseas hacer hoy?
    </div>
    <v-button-login @click="executeRule">Ejecutar Regla simple</v-button-login>
    <span>{{ documentState }}</span>
    <v-button-login @click="calculate">Calcular valor de venta por item</v-button-login>
    <span style="font-size: 15px">{{ params }}</span>
    <br><span>{{ valueSalePerItem }}</span>
    <v-button-login @click="calculate">Calcular valor de venta por item</v-button-login>
    <span style="font-size: 15px">{{ params }}</span>
    <br><span>{{ valueSalePerItem }}</span>    
  </div>
</template>

<script src="./cmp-home.ts" lang="ts" />
<style src="./cmp-home.scss" lang="scss" scoped/>
