<template>
    <div :class="`${PREFIX}`">
        <cmp-option-dropdown>
            <template #icon>
                <i aria-hidden="true" class="iconify" :data-icon="`feather:grid`"></i>
            </template>
        </cmp-option-dropdown>
    </div>
</template>

<script src="./cmp-header-option-grid.ts" lang="ts"/>
<style src="./cmp-header-option-grid.scss" lang="scss" scoped/>