<template>
  <div
    class="v-overload"
    :class="{
      'overlay-full-screen': !container,
      'overlay-container-only': container,
    }"
  >
    <div class="loading">
      <div class="arc"></div>
      <div class="arc"></div>
      <div class="arc"></div>
      <div class="img-logo">
        <img style="width: 100%; heigth: 100%;"
          src="https://smartclic.pe/wp-content/uploads/imagenes/homepage/smarti-portada.webp"
          alt="overload-icon"
        />
      </div>
    </div>
  </div>
</template>

<script src="./cmp-overload.ts" lang="ts" />
<style src="./cmp-overload.scss" lang="scss" scoped/>