@import "../../../assets/styles/variables";

$prefix: v-overload;

.v-overload-container {
    position: relative;
}

.#{$prefix} {
    background: var(--v-overload-background);
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;

    &.overlay-container-only {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    &.overlay-full-screen {
        position: fixed;
        width: $per-100;
        height: $per-100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    .loading {
        position: relative;
        width: $pix-150;
        height: $pix-150;
        transform-style: preserve-3d;
        perspective: $pix-800;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-logo {
            height: $pix-50;
            width: $pix-50;
        }

        .arc {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: $per-100;
            height: $per-100;
            border-radius: $per-50;

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation: rotate#{$i} 1.15s linear infinite;
                }
            }

            &:nth-child(1) {
                animation-delay: -0.8s;
                border-bottom: $pix-3 solid var(--v-overload-loading-arc1-border-bottom-color);
            }

            &:nth-child(2) {
                animation-delay: -0.4s;
                border-bottom: $pix-3 solid var(--v-overload-loading-arc2-border-bottom-color);
            }

            &:nth-child(3) {
                animation-delay: 0s;
                border-bottom: $pix-3 solid var(--v-overload-loading-arc3-border-bottom-color);
            }
        }
    }

    @keyframes rotate1 {
        from {
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
        }

        to {
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
        }
    }

    @keyframes rotate2 {
        from {
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
        }

        to {
            transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
        }
    }

    @keyframes rotate3 {
        from {
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
        }

        to {
            transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
        }
    }
}