<template>
  <div :class="`${PREFIX}`">
    <cmp-sub-navs>
      <template #content-tabs>
        <li>
          <a :class="{ 'active': activeTab === 'dashboards' }" @click="select('dashboards')">Dashboards</a>
        </li>
        <li>
          <a :class="{ 'active': activeTab === 'templates' }" @click="select('templates')">Templates</a>
        </li>
      </template>
      <template #content>
        <div class="tab-content" :class="{ 'active': activeTab === 'dashboards' }">
          <div class="tab-content-inner">
            <div class="center">
              <div class="columns">
                <div class="column">
                  <h4 class="column-heading">Personal</h4>
                  <ul>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-analytics-alt-1"></i>
                        <span>Personal V1</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-pie-chart"></i>
                        <span>Personal V2</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-stats-up"></i>
                        <span>Personal V3</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-cloud-sun"></i>
                        <span>Hobbies</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-hospital-alt-3"></i>
                        <span>Health</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-books"></i>
                        <span>Writer</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="column">
                  <h4 class="column-heading">Finance</h4>
                  <ul>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-analytics-alt-1"></i>
                        <span>Analytics</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-stats-up"></i>
                        <span>Stocks</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-credit-card"></i>
                        <span>Sales</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-bank"></i>
                        <span>Banking V1</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-bank"></i>
                        <span>Banking V2</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-bank"></i>
                        <span>Banking V3</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="column">
                  <h4 class="column-heading">Business</h4>
                  <ul>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-cardiology"></i>
                        <span>Influencer</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-plane-alt"></i>
                        <span>Flights Booking</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-apartment"></i>
                        <span>Company Board</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-users-alt"></i>
                        <span>HR Board</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-graduate"></i>
                        <span>Course Board</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-cart"></i>
                        <span>Ecommerce V1</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="column">
                  <h4 class="column-heading">Apps</h4>
                  <ul>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-pizza"></i>
                        <span>Food Delivery</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-map"></i>
                        <span>Maps V1</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-map"></i>
                        <span>Maps V2</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-envelope"></i>
                        <span>Inbox</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-bubble"></i>
                        <span>Messaging V1</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-bubble"></i>
                        <span>Messaging V2</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content" :class="{ 'active': activeTab === 'templates' }">
          <div class="tab-content-inner">
            <div class="center">
              <div class="columns">
                <div class="column">
                  <h4 class="column-heading">Sidebars</h4>
                  <ul>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout"></i>
                        <span>Regular Sidebar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout"></i>
                        <span>Curved Sidebar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout"></i>
                        <span>Colored Sidebar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout"></i>
                        <span>Curved Colored</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout"></i>
                        <span>Labels Sidebar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout"></i>
                        <span>Labels Hover Sidebar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout"></i>
                        <span>Float Sidebar</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="column">
                  <h4 class="column-heading">Navbars</h4>
                  <ul>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Regular Navbar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Fading Navbar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Colored Navbar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Drop Navbar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Colored Drop</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Clean Navbar</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Clean Center</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Clean Fade</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="column">
                  <h4 class="column-heading">widgets</h4>
                  <ul>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-pie-chart-alt"></i>
                        <span>Apex Charts</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-bar-chart"></i>
                        <span>Billboard JS</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>UI Widgets</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-2"></i>
                        <span>Creative Widgets</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>List Widgets</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <i aria-hidden="true" class="lnil lnil-layout-alt-1"></i>
                        <span>Stat Widgets</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="column">
                  <h4 class="column-heading">Wizards</h4>
                  <ul>
                    <li>
                      <a>
                        <span>Wizard V1</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span>Form V1</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span>Form V2</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span>Form V3</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span>Form V4</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </cmp-sub-navs>
  </div>
</template>

<script src="./cmp-header-sub-nav-dashboard.ts" lang="ts"/>