@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixin";

$prefix: cmp-header-option-theme;

$cmp-header-option-theme-day-color: #ffb62e;
$cmp-header-option-theme-night-color: #ffd22e;

.#{$prefix} {
    display: none;    
    transform: scale(0.7) translate3d(0, 0, 0);

    label {
        cursor: pointer;
    }

    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
        display: block;
    }

    input {
        display: none;

        &+span {
            display: block;
            border-radius: $per-50;
            width: 36px;
            height: 36px;
            position: relative;
            box-shadow: inset 16px -16px 0 0 var(--cmp-header-option-theme-night-color, $cmp-header-option-theme-night-color);
            transform: scale(1) rotate(-2deg);
            transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;

            &::before {
                content: '';
                width: inherit;
                height: inherit;
                border-radius: inherit;
                position: absolute;
                left: 0;
                top: 0;
                backface-visibility: hidden;
                transition: background-color 0.3s ease;
            }

            &::after {
                content: '';
                width: 8px;
                height: 8px;
                border-radius: $per-50;
                margin: -4px 0 0 -4px;
                position: absolute;
                top: 50%;
                left: 50%;
                box-shadow: 0 -23px 0 var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color), 0 23px 0 var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color), 23px 0 0 var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color),
                    -23px 0 0 var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color), 15px 15px 0 var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color), -15px 15px 0 var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color),
                    15px -15px 0 var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color), -15px -15px 0 var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color);
                transform: scale(0);
                transition: all 0.3s ease;
            }
        }

        &:checked+span {
            box-shadow: inset 32px -32px 0 0 var(--cmp-header-option-theme-night-color, $cmp-header-option-theme-night-color);
            transform: scale(0.5) rotate(0deg);
            transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;

            &::before {
                background: var(--cmp-header-option-theme-day-color, $cmp-header-option-theme-day-color);
                backface-visibility: hidden;
                transition: background-color 0.3s ease 0.1s;
            }

            &::after {
                transform: scale(1.5);
                transition: transform 0.5s ease 0.15s;
            }
        }
    }
}