<template>
    <div :class="`${PREFIX}`">
        <label>
            <input type="checkbox" :checked="!isDark" @change="change"/>
            <span></span>
        </label>
    </div>
</template>

<script src="./cmp-header-option-theme.ts" lang="ts"/>
<style src="./cmp-header-option-theme.scss" lang="scss" scoped/>