@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

$prefix: cmp-header-logo;

.#{$prefix} {
    cursor: pointer;
    
    .logo {
        background-image: var(--url-logo);
        background-size: contain;
        background-repeat: no-repeat;
        min-width: $pix-38;
        min-height: $pix-32;

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            min-width: $pix-68;
            min-height: $pix-38;
        }
    }
}