<template>
  <div :class="`${PREFIX}`" :style="{ '--url-logo': 'url(' + `${PATH_RESOURCES}/icons/${icon}.svg` + ')' }">
    <div class="logo"></div>
  </div>
</template>

<script src="./cmp-header-logo.ts" lang="ts"/>
<style src="./cmp-header-logo.scss" lang="scss" scoped/>