@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

$prefix: login-form;

.#{$prefix} {
    position: relative;
    display: flex;
    align-items: center;

    @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
        height: $vh-100;
    }

    .container-form {
        width: $per-100;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1em;
        padding: 0 $per-15;

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            padding: 0 $per-10;
        }

        .login-form-title {
            font-family: var(--font-base);
            font-size: $pix-18;
            font-weight: $weight-900;
            color: var(--cmp-login-login-form-container-form-login-form-title-color);

            @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                font-size: 3.6vw;
            }
        }

        .login-form-subtitle {
            font-family: var(--font-alt);
            font-size: $pix-12;
            color: var(--cmp-login-login-form-container-form-login-form-subtitle-color);

            @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                font-size: 2vw;
            }
        }

        .login-form-message-error {
            background-color: var(--cmp-login-login-form-container-form-login-form-message-error-background-color);
            padding: 1vw;
            border-radius: $pix-8;
            border: $pix-1 solid var(--cmp-login-login-form-container-form-login-form-message-error-border-color);
            color: var(--cmp-login-login-form-container-form-login-form-message-error-color);
            font-size: $pix-11;
            font-family: var(--font-base);

            @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
                font-size: $pix-14;
            }
        }
    }
}