<template>
  <div :class="`${PREFIX}`">
    <div class="container-form">
      <div>
        <span class="login-form-title">{{
          translate("cmp-login.login-form.title")
        }}</span>
      </div>
      <div>
        <span class="login-form-subtitle">{{
          translate("cmp-login.login-form.subtitle")
        }}</span>
      </div>
      <div class="login-form-message-error" v-if="userInvalid">
        {{ translate("cmp-login.login-form.message-error") }}
      </div>
      <v-input-login
          :icon="'../../../../resources/icons/user.svg'"
          v-model="user.Username"
          @focus="v$.Username.$touch()"
          @input="v$.Username.$touch()"
          :invalid="v$.Username.$error"
          :placeholder="translate('cmp-login.login-form.inputs.email.placeholder')"
          :messageAlert="translate('cmp-login.login-form.inputs.email.message-alert')"
      />

      <v-input-login
          :icon="'../../../../resources/icons/key.svg'"
          v-model="user.Password"
          @focus="v$.Password.$touch()"
          @input="v$.Password.$touch()"
          :invalid="v$.Password.$error"
          :placeholder="translate('cmp-login.login-form.inputs.password.placeholder')"
          :messageAlert=" translate('cmp-login.login-form.inputs.password.message-alert')"
          :type="'password'"
      />

      <v-button-login @click="login">{{
        translate("cmp-login.login-form.button-login.label")
      }}</v-button-login>
    </div>
  </div>
</template>

<script src="./login-form.ts" lang="ts" />
<style src="./login-form.scss" lang="scss" scoped />
