@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

$prefix: cmp-header-options;

.#{$prefix} {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;

    .logo-mobil {
        display: block;

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            display: none;
        }
    }

    .main-options {
        display: none;

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            display: flex;
            flex-direction: row;
            width: $pix-580;
        }
    }
}