<template>
  <div :class="`${PREFIX}`">
    <div class="logo-mobil">
      <cmp-header-logo />
    </div>
    <div class="main-options">
      <cmp-header-nav title="dashboard" @click="select('dashboard')" :class="{ 'select': navSelect === 'dashboard' }">
        <template #icon>
          <i aria-hidden="true" class="iconify" data-icon="feather:activity"></i>
        </template>
      </cmp-header-nav>
      <cmp-header-nav title="layouts" @click="select('layouts')" :class="{ 'select': navSelect === 'layouts' }">
        <template #icon>
          <i aria-hidden="true" class="iconify" data-icon="feather:grid"></i>
        </template>
      </cmp-header-nav>
      <cmp-header-nav title="elements" @click="select('elements')" :class="{ 'select': navSelect === 'elements' }">
        <template #icon>
          <i aria-hidden="true" class="iconify" data-icon="feather:box"></i>
        </template>
      </cmp-header-nav>
      <cmp-header-nav title="components" @click="select('components')" :class="{ 'select': navSelect === 'components' }">
        <template #icon>
          <i aria-hidden="true" class="iconify" data-icon="feather:cpu"></i>
        </template>
      </cmp-header-nav>
      <cmp-header-nav title="search" @click="select('search')" :class="{ 'select': navSelect === 'search' }">
        <template #icon>
          <i aria-hidden="true" class="iconify" data-icon="feather:search"></i>
        </template>
      </cmp-header-nav>
      <cmp-header-nav title="dashboard" @click="select('dashboard')" :class="{ 'select': navSelect === 'dashboard' }">
        <template #icon>
          <i aria-hidden="true" class="iconify" data-icon="feather:activity"></i>
        </template>
      </cmp-header-nav>
    </div>
  </div>
  <cmp-header-sub-navs :navSelect="navSelect"/>
</template>

<script src="./cmp-header-navs.ts" lang="ts"/>
<style src="./cmp-header-navs.scss" lang="scss" scoped/>