@import "../../../../../assets/styles/variables";

$prefix: cmp-header-option-notificacion;

$cmp-header-option-notification-heading-border-bottom-color: #eee;
$cmp-header-option-notification-heading-h-left-color: #a2a5b9;
$cmp-header-option-notification-heading-h-right-color: #41b883;

$cmp-header-option-notification-notification-list-notification-item-user-content-user-info-color: #283252;
$cmp-header-option-notification-notification-list-notification-item-user-content-time-color: #a2a5b9;

.#{$prefix} {
    .heading {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1em;
        border-bottom: $pix-1 solid var(--cmp-header-option-notification-heading-border-bottom-color, $cmp-header-option-notification-heading-border-bottom-color);

        .h-left, .h-right {
            font-family: var(--font-alt, $font-alt);
            font-size: 0.8em;
            font-weight: $weight-500;
            line-height: 1.6;
            text-transform: uppercase;
            white-space: nowrap;
        }

        .h-left {
            flex: 1;
            color: var(--cmp-header-option-notification-heading-h-left-color, $cmp-header-option-notification-heading-h-left-color);

        }

        .h-right {
            color: var(--cmp-header-option-notification-heading-h-right-color, $cmp-header-option-notification-heading-h-right-color);
        }
    }

    .notification-list {
        list-style-type: none;
        padding: 0.5em 1em;
        margin: 0;

        .notification-item {
            display: flex;
            padding: 0.65em 0;

            .img-left {
                img {
                    display: inline-block;
                    vertical-align: middle;
                    height: 2.25em;
                    width: 2.25em;
                    margin: 0 0.5em 0 0;
                    border-radius: $per-50;
                    max-width: $per-100;
                }
            }

            .user-content {
                text-align: left;
                font-family: var(--font, $font);

                .user-info {
                    color: var(--cmp-header-option-notification-notification-list-notification-item-user-content-user-info-color, $cmp-header-option-notification-notification-list-notification-item-user-content-user-info-color);
                    font-size: 0.95em;
                    
                    span {
                        white-space: nowrap;
                        font-weight: $weight-500;
                    }
                }

                .time {
                    margin: 0;
                    font-size: 0.85em;
                    color: var(--cmp-header-option-notification-notification-list-notification-item-user-content-time-color, $cmp-header-option-notification-notification-list-notification-item-user-content-time-color);
                }
            }
        }
    }
}