<template>
  <div :class="`${PREFIX}`">
    <cmp-option-dropdown :hasNotification="true">
      <template #icon>
        <i aria-hidden="true" class="iconify" :data-icon="`feather:bell`"></i>
      </template>
      <template #header>
        <div class="heading">
          <div class="h-left">
            <span>{{translate("cmp-header.options-alt.notification.h-left")}}</span>
          </div>
          <div class="h-right">
            <a>{{translate("cmp-header.options-alt.notification.h-right")}}</a>
          </div>
        </div>
      </template>
      <template #body="{close}">
        <ul class="notification-list">
          <li>
            <a class="notification-item" @click="close">
              <div class="img-left">
                <img src="https://via.placeholder.com/150x150" alt="img-left"/>
              </div>
              <div class="user-content">
                <p class="user-info">
                  <span>Alice C. </span>left a comment.
                </p>
                <p class="time">
                  1 hour ago
                </p>
              </div>
            </a>
          </li>
          <li>
            <a class="notification-item">
              <div class="img-left">
                <img src="https://via.placeholder.com/150x150" alt="img-left"/>
              </div>
              <div class="user-content">
                <p class="user-info">
                  <span>Jisua S. </span>uploaded a file.
                </p>
                <p class="time">
                  2 hours ago
                </p>
              </div>
            </a>
          </li>
          <li>
            <a class="notification-item">
              <div class="img-left">
                <img src="https://via.placeholder.com/150x150" alt="img-left"/>
              </div>
              <div class="user-content">
                <p class="user-info">
                  <span>Tara S. </span>sent you a message.
                </p>
                <p class="time">
                  2 hours ago
                </p>
              </div>
            </a>
          </li>
          <li>
            <a class="notification-item">
              <div class="img-left">
                <img src="https://via.placeholder.com/150x150" alt="img-left"/>
              </div>
              <div class="user-content">
                <p class="user-info">
                  <span>Melany W. </span>left a comment.
                </p>
                <p class="time">
                  3 hours ago
                </p>
              </div>
            </a>
          </li>          
        </ul>
      </template>
    </cmp-option-dropdown>
  </div>
</template>

<script src="./cmp-header-option-notification.ts" lang="ts"/>
<style src="./cmp-header-option-notification.scss" lang="scss" scoped/>