@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

$prefix: cmp-dropdown-menu;

$cmp-dropdown-menu-border-color: #ededed;
$cmp-dropdown-menu-background-color: #fff;

.#{$prefix} {
    .content {
        background-color: var(--cmp-dropdown-menu-background-color, $cmp-dropdown-menu-background-color);
        border: $pix-1 solid var(--cmp-dropdown-menu-border-color, $cmp-dropdown-menu-border-color);
        border-radius: $pix-6;
        box-shadow: 0 $pix-8 $pix-8 rgba(10, 10, 10, 0.1), 0 0 0 $pix-1 rgba(10, 10, 10, 0.1);
        position: fixed;
        left: 0;
        right: 0; 
        margin: 0 auto;
        margin-top: $pix-20;
        width: $per-96;
    
        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            margin-top: $pix-20;
            position: absolute;
            min-width: $pix-250;
            right: 0;
            left: auto;
        }
    }
}