<template>
  <div :class="`${PREFIX}`" >
    <div class="content">
      <div :class="`${PREFIX}-header`">
        <slot name="header"></slot>
      </div>
      <div :class="`${PREFIX}-body`">
        <slot name="body"></slot>
      </div>
      <div :class="`${PREFIX}-footer`">
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</template>

<script src="./cmp-dropdown-menu.ts" lang="ts"/> 
<style src="./cmp-dropdown-menu.scss" lang="scss"/>