<template>
    <button :class="`${PREFIJO}`" v-bind="$attrs">
      <slot></slot>
    </button>
</template>

<script src="./v-button-login.ts" lang="ts" />
<style src="./v-button-login.scss" lang="scss" scoped />
