@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixin";

$prefix: v-button-login;

$v-button-login-active-focus-border-color: #ededed;

.#{$prefix} {
  background-color: var(--v-button-login-background-color);
  font-size: $pix-20;
  font-weight: $weight-700;
  cursor: pointer;
  font-family: var(--font-alt);
  transition: all 0.3s ease;
  color: var(--v-button-login-font-color);
  border-style: none;
  width: $per-100;

  @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
    font-size: 2.5vw;
    padding: $pix-15;
  }

  &:hover {
    filter: brightness(0.97);
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &:not([is-rounded]) {
    border-radius: $pix-8;
  }

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: darken($v-button-login-active-focus-border-color, 2%);
  }
}