/*@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/resources/fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('assets/resources/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('assets/resources/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('assets/resources/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}*/

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    src: local('sans-serif'), url('assets/resources/fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-Italic.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat[wght].woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 100;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-Italic[wght].woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 250;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-Thin.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 250;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-ThinItalic.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 275;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-ExtraLight.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 275;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-ExtraLightItalic.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-Light.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 300;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-LightItalic.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 500;
    src: local('sans-serif'), url('assets/resources/fonts/Montserrat-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 500;
    src: local('sans-serif'), url('assets/resources/fonts/Montserrat-MediumItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    src: local('sans-serif'), url('assets/resources/fonts/Montserrat-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 600;
    src: local('sans-serif'), url('assets/resources/fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-Bold.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 700;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-BoldItalic.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-ExtraBold.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 800;
    src: local('Montserrat'),url(https://fonts.cdnfonts.com/s/14883/Montserrat-ExtraBoldItalic.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 900;
    src: local('sans-serif'), url('assets/resources/fonts/Montserrat-Black.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    font-style: italic;
    font-weight: 900;
    src: local('sans-serif'), url('assets/resources/fonts/Montserrat-BlackItalic.woff') format('woff');
    font-display: swap;
}