@import "./variables";

$body-background-color: #fff;

html {
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;

    --color-base: #f92b60;
    --color-alt: #ff7272;
    //--color-base: #0094bf;
    //--color-alt: #0094bf;
    --font-base: 'Montserrat','sans-serif';
    --font-alt: 'Open Sans';    

    //cmp-login
    --cmp-login-background-linear-gradient-color-1: var(--color-base);
    --cmp-login-background-linear-gradient-color-2: var(--color-alt);

    --cmp-login-login-elipse-background: #fff;

    --cmp-login-login-form-container-form-login-form-title-color: #fff;
    --cmp-login-login-form-container-form-login-form-subtitle-color: #fff;
    --cmp-login-login-form-container-form-login-form-message-error-color: #FF0000;
    --cmp-login-login-form-container-form-login-form-message-error-border-color: #FF0000;
    --cmp-login-login-form-container-form-login-form-message-error-background-color: #FFC9C9;

    --cmp-login-login-info-container-info-login-info-title-color: var(--color-base);
    --cmp-login-login-info-container-info-login-info-subtitle-color: #454545;

    --cmp-login-login-info-container-info-login-info-grid-label-color: #454545;
    --cmp-login-login-info-container-info-login-info-logo-link-smart-label-color: #454545;

    //v-button-login
    --v-button-login-background-color: #41b883;
    --v-button-login-font-color: #fff;

    //v-input-login
    --v-input-login-container-background-color: #fff;
    --v-input-login-container-border-color: #959595;
    --v-input-login-container-input-container-input-color: #1d1d1d;

    //v-input-login-invalid
    --v-input-login-container-input-container-input-invalid-placeholder-color: #ff0000;

    //v-overload
    --v-overload-background: #fff;
    --v-overload-loading-arc1-border-bottom-color: #41b883;
    --v-overload-loading-arc2-border-bottom-color: var(--color-base);
    --v-overload-loading-arc3-border-bottom-color: #faae42;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--body-background-color, $body-background-color)
}