$pix-0: 0px;
$pix-1: 1px;
$pix-2: 2px;
$pix-3: 3px;
$pix-4: 4px;
$pix-5: 5px;
$pix-6: 6px;
$pix-7: 7px;
$pix-8: 8px;
$pix-9: 9px;
$pix-10: 10px;
$pix-11: 11px;
$pix-12: 12px;
$pix-13: 13px;
$pix-14: 14px;
$pix-15: 15px;
$pix-16: 16px;
$pix-17: 17px;
$pix-18: 18px;
$pix-19: 19px;
$pix-20: 20px;
$pix-22: 22px;
$pix-25: 25px;
$pix-24: 24px;
$pix-28: 28px;
$pix-30: 30px;
$pix-31: 31px;
$pix-32: 32px;
$pix-33: 33px;
$pix-34: 34px;
$pix-35: 35px;
$pix-38: 38px;
$pix-40: 40px;
$pix-41: 41px;
$pix-46: 46px;
$pix-47: 47px;
$pix-50: 50px;
$pix-52: 52px;
$pix-60: 60px;
$pix-65: 65px;
$pix-68: 68px;
$pix-70: 70px;
$pix-80: 80px;
$pix-85: 85px;
$pix-96: 96px;
$pix-100: 100px;
$pix-101: 101px;
$pix-120: 120px;
$pix-130: 130px;
$pix-150: 150px;
$pix-200: 200px;
$pix-220: 220px;
$pix-250: 250px;
$pix-260: 250px;
$pix-300: 300px;
$pix-320: 320px;
$pix-350: 350px;
$pix-400: 400px;
$pix-410: 410px;
$pix-463: 463px;
$pix-500: 500px;
$pix-538: 538px;
$pix-580: 580px;
$pix-800: 800px;
$pix-940: 940px;
$pix-960: 960px;

$per-5: 5%;
$per-10: 10%;
$per-14: 14%;
$per-15: 15%;
$per-20: 20%;
$per-25: 25%;
$per-37: 37%;
$per-40: 40%;
$per-50: 50%;
$per-60: 60%;
$per-70: 70%;
$per-75: 75%;
$per-80: 80%;
$per-90: 90%;
$per-96: 96%;
$per-100: 100%;

$vh-50: 50vh;
$vh-100: 100vh;
$vw-100: 100vw;

$deg-90: 90deg;
$deg-180: 180deg;
$deg-270: 270deg;
$deg-360: 360deg;

$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-900: 900;

$resolution-em-md: 64em; //1024px
$resolution-em-lg: 85.375em; //1366px
$resolution-em-xl: 120em; //1920px

$font: 'Montserrat','sans-serif';
$font-alt: 'Open Sans';