@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import "../variables";
@import "../mixin";

.sb-show-main.sb-main-padded {
    padding: 0 !important;
}

/* ==========================================================================
1. Estilos storybook
========================================================================== */

$prefijo: whatsapp-storybook;

$per-100: 100%;

$pix-10: 10px;
$pix-14: 14px;
$pix-20: 20px;
$pix-28: 28px;
$pix-30: 30px;

$black: #000;
$white: #fff;

$weight-600: 600;

.#{$prefijo}-contenedor {
    position: relative;
    width: $per-100;
    height: $per-100;
    padding: $pix-20;

    .image-side {
        position: absolute;
        right: 0;
        top: 0;

        img {
            display: none;
        }        

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            img {
                height: 100px;
                display:block;
            }
        }
    }

    .#{$prefijo}-texto {
        color: $black;
        font-size: $pix-14;
    }

    .#{$prefijo}-titulo {
        color: #F92B60;
        padding: $pix-10 0;
        font-size: $pix-30;
        font-weight: $weight-600;
        font-family: Monserrat;
    }

    .#{$prefijo}-cuerpo {
        padding: $pix-10 0;

        .#{$prefijo}-resumen {
            text-align: justify;
        }

        .#{$prefijo}-propiedades {
            margin-left: $pix-20;
            list-style-type: circle;
            list-style-position: outside;
        }
    }

    .#{$prefijo}-historial {
        display: flex;
        flex-direction: column;
    }
}