@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixin";

$prefix: cmp-header-nav;

$cmp-header-option-hover-color: #f92b60;

$cmp-header-option-content-title-color: #6F6F6F;
$cmp-header-option-content-title-hover-color: #fff;

$cmp-header-option-content-icon-color: #f92b60;
$cmp-header-option-content-icon-hover-color: #fff;

.#{$prefix} {
    border-radius: $pix-8;
    cursor: pointer;
    flex: 1;
    margin: 0 $pix-5;
    padding: 0.75em 0.5em;
    transition: background-color 0.5s ease;

    .content {
        align-items: center;        
        display: flex;
        flex-direction: column;
        justify-content: center;

        svg {
            height: $pix-20;
            width: $pix-20;
            color: var(--cmp-header-option-content-icon-color, $cmp-header-option-content-icon-color);
            margin-bottom: $pix-5;
        }

        .title {
            color: var(--cmp-header-option-content-title-color, $cmp-header-option-content-title-color);
            font-family: var(--font-alt, $font-alt);
            font-size: $pix-9;
            font-weight: $weight-600;
            text-transform: uppercase;
        }
    }

    &:hover, &.select {
        background-color: var(--cmp-header-option-hover-color, $cmp-header-option-hover-color);

        .content {
            svg {
                color: var(--cmp-header-option-content-icon-hover-color, $cmp-header-option-content-icon-hover-color);
            }

            .title {
                color: var(--cmp-header-option-content-title-hover-color, $cmp-header-option-content-title-hover-color);
            }
        }
    }
}