<template>
  <div :class="{[`${PREFIX}`]: true}" v-bind="$attrs">
    <div class="content">
      <slot name="icon"></slot>
      <span class="title">{{ title }}</span>
    </div>
  </div>
</template>

<script src="./cmp-header-nav.ts" lang="ts"/>
<style src="./cmp-header-nav.scss" lang="scss"/>