@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

$prefix: cmp-header-options;

.#{$prefix} {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: $pix-10;

    .opt-item {
        display: none;

        @include breakpoint(calc(#{$resolution-em-md} + $pix-1), min) {
            display: block;
            margin-right: 0;
        }
    }
}