<template>
    <div :class="`${PREFIX}`">
        <cmp-header-option-theme/>
        <cmp-header-option-notification/>
        <div class="opt-item">
            <cmp-header-option-grid/>
        </div>
        <cmp-header-option-avatar/>
    </div>
</template>

<script src="./cmp-header-options.ts" lang="ts"/>
<style src="./cmp-header-options.scss" lang="scss" scoped/>